html, body {
    font-family: Microsoft JhengHei;
}

.custom-select {
    background: url(../images/icons_down.png) no-repeat 96% center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    height: 3rem;
}